version: '3.1'
services:
  web:
    image: php:7.4-apache
    container_name: subdomain-auto-registration
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

networks:
   default:
     external:
       name: nginx-proxy