version: '3.1'
services:
  subdomain-registrer:
    image: qsypoq/subdomain-auto-registration:latest
    container_name: subdomain-registrer
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./conf:/usr/src/app/conf:ro

networks:
   default:
     external:
       name: nginx-proxy